@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
      display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    display: block;
}

.flaticon-001-happy:before { content: "\f100"; }
.flaticon-002-sick:before { content: "\f101"; }
.flaticon-003-shock:before { content: "\f102"; }
.flaticon-004-cute:before { content: "\f103"; }
.flaticon-005-puke:before { content: "\f104"; }
.flaticon-006-drool:before { content: "\f105"; }
.flaticon-007-vain:before { content: "\f106"; }
.flaticon-008-crying:before { content: "\f107"; }
.flaticon-009-sad:before { content: "\f108"; }
.flaticon-010-in-love:before { content: "\f109"; }
.flaticon-011-laughing:before { content: "\f10a"; }
.flaticon-012-smart:before { content: "\f10b"; }
.flaticon-013-ghost:before { content: "\f10c"; }
.flaticon-014-happy:before { content: "\f10d"; }
.flaticon-015-evil:before { content: "\f10e"; }
.flaticon-016-greed:before { content: "\f10f"; }
.flaticon-017-shocked:before { content: "\f110"; }
.flaticon-018-cute:before { content: "\f111"; }
.flaticon-019-embarrassed:before { content: "\f112"; }
.flaticon-020-embarrassed:before { content: "\f113"; }
.flaticon-021-shocked:before { content: "\f114"; }
.flaticon-022-laughing:before { content: "\f115"; }
.flaticon-023-angry:before { content: "\f116"; }
.flaticon-024-hungry:before { content: "\f117"; }
.flaticon-025-laughing:before { content: "\f118"; }
.flaticon-026-vain:before { content: "\f119"; }
.flaticon-027-angel:before { content: "\f11a"; }
.flaticon-028-laughing:before { content: "\f11b"; }
.flaticon-029-emoji:before { content: "\f11c"; }
.flaticon-030-ninja:before { content: "\f11d"; }
.flaticon-031-kiss:before { content: "\f11e"; }
.flaticon-032-scared:before { content: "\f11f"; }
.flaticon-033-muted:before { content: "\f120"; }
.flaticon-034-sick:before { content: "\f121"; }
.flaticon-035-moustache:before { content: "\f122"; }
.flaticon-036-shocked:before { content: "\f123"; }
.flaticon-037-shocked:before { content: "\f124"; }
.flaticon-038-sleep:before { content: "\f125"; }
.flaticon-039-happy:before { content: "\f126"; }
.flaticon-040-injured:before { content: "\f127"; }
.flaticon-041-angry:before { content: "\f128"; }
.flaticon-042-kiss:before { content: "\f129"; }
.flaticon-043-frankenstein:before { content: "\f12a"; }
.flaticon-044-crying:before { content: "\f12b"; }
.flaticon-045-cool:before { content: "\f12c"; }
.flaticon-046-wink:before { content: "\f12d"; }
.flaticon-047-embarrassed:before { content: "\f12e"; }
.flaticon-048-cool:before { content: "\f12f"; }
.flaticon-049-mad:before { content: "\f130"; }
.flaticon-050-scared:before { content: "\f131"; }